@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Variables */

/* fonts & typography */
$f-primary: 'Poppins', sans-serif;
$base-font-size: 1.5rem;
$base-line-height: $base-font-size * 1.5;

$fw-thin: 100;
$fw-extralight: 200;
$fw-light: 300;
$fw-regular: 400;
$fw-medium: 500;
$fw-semibold: 600;
$fw-bold: 700;
$fw-extrabold: 800;
$fw-black: 900;

/* colors */
$c-body: hsl(0, 0%, 90%);
$c-white: hsl(0, 0%, 100%);
$c-blue: hsl(219, 97%, 62%);
$c-light-blue: hsl(218, 100%, 96%);
$c-hard-blue: hsl(219, 60%, 49%);
$c-dark-blue: hsl(228, 33%, 3%);
$c-grey-blue: hsl(227, 9%, 40%);
$c-light-grey: hsl(227, 9%, 58%);
$c-red: hsl(349, 99%, 58%);
$c-yellow: hsl(45, 100%, 48%);
$c-linear-blue: linear-gradient(95.44deg, #3ee1fc 0%, #3e82fc 100%);
$c-shadow: 0px 4px 60px rgba(62, 130, 252, 0.35);
$c-shadow-1: 0px 54px 104px 0px #0000000a;

// breakpoints
@mixin breakpoint($breakpoint) {
  @if $breakpoint == tablet {
    @media (min-width: 768px) {
      @content;
    }
  }
  @if $breakpoint == laptop {
    @media (min-width: 992px) {
      @content;
    }
  }
  @if $breakpoint == desktop {
    @media (min-width: 1200px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media (min-width : 480px){
        @content;
    }
  }
}

/* base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; // 10px
}

body {
  font-family: $f-primary;
  font-size: $base-font-size;
  line-height: $base-line-height;
  background-color: $c-body;
//   background-image: url("/assets/img/round.svg");

}
ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    position: relative;
    display: inline-block;
  }
  li:after {
    content: "";
        position: absolute;
        right: 50%;
        top: 100%;
        width: 1px;
        height: 0px;
        background-color: $c-blue;
        transition: height 0.3s ease-in-out;
    
  }
  li:hover:after {
    height: 20px;
  }
  a {
    text-decoration: none;
    &:hover {
      color: $c-blue;
    }
  }
  
/* resusable classes */
.container {
    width: 100%;
    max-width: 100vw;
    padding: 0 3rem;
    margin: auto;
    overflow: hidden;
    
  }
  
  .pretitle {
    font-size: 1.6rem;
    line-height: 1.3;
    font-weight: $fw-medium;
    color: $c-blue;
    @include breakpoint(tablet) {
      font-size: 2rem;
    }
  }
  
  .subtitle {
    font-size: 1.8rem;
    line-height: 1.46;
    margin-bottom: 3.2rem;
    @include breakpoint(desktop) {
      font-size: 2.2rem;
    }
  }
  
  .section {
    padding: 6.5rem 0;
    @include breakpoint(desktop) {
      padding: 13rem 0;
    }
  }
  
  .btn {
    background: none;
    border: none;
    font-family: $f-primary;
    font-weight: $fw-medium;
    padding: 0 3rem;
    border-radius: 30px;
    height: 4rem;
    cursor: pointer;
  
    @include breakpoint(desktop) {
      font-size: 1.5rem;
    }
    &--primary {
      background: $c-blue;
      color: $c-white;
      box-shadow: $c-shadow;
      &:hover {
        background: darken($c-blue, 10%);
      }
    }
    &--outline {
      background: none;
      color: $c-blue;
      border: 1px solid $c-blue;
      &:hover {
        background: $c-blue;
        border: 1px solid transparent;
        color: $c-white;
      }
    }
  }
  // .header styles
.header {
  background-color: $c-body;
    position: fixed;
    width: 100%;
    padding: 2.4rem 0;
    z-index: 3;
    transition: all 0.2s ease-in-out;
    display: flex;
    &__container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      height: 100%;
      padding: 0;
      margin: 0 1em;
      @include breakpoint(tablet){
        margin: 0 5em;
      }
    }
    &__wrapper{
        display: flex;
        justify-content:flex-start;
        gap: 3em;
        @include breakpoint(tablet){
            flex: 1;
        }
    }
    &__right{
        justify-content:flex-end;
        margin-right: 5em;
        align-items: center;
        
    }
    &__info-container{
        @include breakpoint(tablet){
            display: flex;
            gap: 1em;
        }

        display: none;

    }
    &__logo {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: $fw-semibold;

      @include breakpoint(tablet){
        font-size:x-large;
      }
    }
    &__arrow{
        color: $c-grey-blue;
        font-size: large;
    }
    &__nav-trigger {
      font-size: 2rem;
      color: $c-dark-blue;
      cursor: pointer;
      @include breakpoint(desktop) {
        display: none;
    }}
    &.active {
      background: $c-white;
      transition: all 0.2s ease-in-out;
      box-shadow: $c-shadow-1;
      @include breakpoint(desktop) {
        padding: 1.2rem 0;
      }
    }
  }
  // .nav styles
  .nav {
    background: $c-dark-blue;
    position: absolute;
    max-height: 0;
    top: 8rem;
    right: 0;
    display: flex;
    justify-content: center;
    text-align: center;
    overflow: hidden;
    transition: all 0.3s ease;
    @include breakpoint(desktop) {
      background: none;
      position: relative;
      max-height: 100%;
      top: 0;
    }
    &__list {
      @include breakpoint(desktop) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 6.9rem;
      }
    }
    &__item {
      margin: 2rem 0;
    }

    &__link {
      color: $c-white;
      font-weight: $fw-medium;
      transition: all 0.2s ease-in-out;
      @include breakpoint(desktop) {
        color: $c-dark-blue;
      }
    }
    &.open {
      max-height: 300px;
    }
  }

.blue {
    color: $c-blue;
}

.grey{
    color: $c-light-grey;
}

// .hero styles
.hero {
    padding: 10rem 0 5rem 0;
    display: flex;
    // background-image: url("/assets/img/1.jpeg") no-repeat;

    // background-size: cover;
    // background-position: center center;
    position: relative;
    z-index: 1;
    @include breakpoint(tablet) {
      height: 60rem;
    }
    @include breakpoint(desktop) {
      padding-top: 22.6rem;
      height: 79.6rem;
      &:after {
        content: '';
        position: absolute;
        width: 100%;
        height: 123.4rem;
        // background: url('assets/img/model.svg') no-repeat;
        top: 0;
        z-index: -1;
      }
    }
    &__container {
      display: flex;
      flex-direction: column;
      @include breakpoint(desktop) {
        flex-direction: row;
      }
    }
    &__left,
    &__right {
      flex: 1;
    }
    &__left {
      text-align: center;
      @include breakpoint(desktop) {
        text-align: left;
      }
    }
    &__right {
      display: none;
      @include breakpoint(tablet) {
        display: flex;
        justify-content: end;
      }
      @include breakpoint(desktop) {
        display: flex;
      }
    }
    &__subtitle {
      max-width: 459px;
      margin: 0 auto 2.6rem auto;
      @include breakpoint(desktop) {
        margin: 0 0 5.2rem 0;
      }
    }
    &__btn {
      width: 100%;
      margin-bottom: 1.4rem;
      &:nth-of-type(1) {
        margin-right: 2rem;
      }
      @include breakpoint(tablet) {
        width: auto;
      }
    }
  }