<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Viktoriia Kravchuk</title>
    <link
    href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
    rel="stylesheet"
  />
  </head>
  <body>
    <header class="header">
      <div class="header__container container">
        <div class="header__wrapper">
        <div class="header__logo">Logo</div>

        <!-- nav starts -->
        <nav class="nav">
          <ul class="nav__list">
            <li class="nav__item">
              <a class="nav__link" href="#">Home</a>
            </li>
            <li class="nav__item"><a class="nav__link" href="#">About</a></li>
            <li class="nav__item">
              <a class="nav__link" href="#">Services</a>
            </li>
            <li class="nav__item">
              <a class="nav__link" href="#">Pages</a>
            </li>
          </ul>
        </nav>
      </div>
        <!-- nav ends -->
        <div class="header__wrapper header__right" >
        <div class="header__info-container">
          <div class="grey">Call us: <span class="blue">+48 123 456 789</span></div>
          <div>EN <i class='bx bx-chevron-down header__arrow'></i> </div>
        </div>

        <div class="header__info-container">
          <button class="btn btn--outline">Contact Us</button>
        </div>
      </div>
      <div class="header__nav-trigger">
        <i class="bx bx-menu"></i>
      </div>
      </div>
    </header>
    <section class="hero">
      <div class="hero__container container">
        <div class="hero__left">
          <h1 class="hero__title">Be prepared for the mountains and beyond.</h1>
          <p class="hero__subtitle subtitle">
            Are you looking for amazing hiking travel? Don’t worry! We got it
            for you!
          </p>
          <button class="hero__btn btn btn--outline">Watch video</button>
        </div>
        <div class="hero__right">
          <div class="hero__img">
            <img src="/assets/img/1.jpeg" alt="" />
          </div>
        </div>
      </div>
    </section>

  </body>
</html>
